{% extends 'partials/base.html' %}
{% block title%}Profile_Update Page {% endblock %}

{% block content %}
<html>
<head>
    <title>Profile Information</title>
</head>
<body>
    <h1>Update Profile</h1>
    <form method="POST">
        {% csrf_token %}
        {{ user_form }}
        {{ profile_form }}
        <input class="btn btn-info" type="submit" value="Update">
    </form>
    <br>
    <a href="{% url 'user-profile' %}">View Profile</a>
    <a href="{% url 'user-logout' %}">Logout</a>
    <a href="{% url 'user-edit-profile' %}">Edit Profile</a>
</body>
</html>

{% endblock %}