<!-- Display the list of orders -->
<h1>Order</h1>
<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Medicine</th>
            <th>Quantity</th>
            <th>Date Ordered</th>
            <th>Processed</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.pk }}</td>
                <td>{{ order.medicine }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.date_ordered }}</td>
                <td>{% if order.is_processed %} Yes {% else %} No {% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
